<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ description|default:\"Special Occasion" }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
  </head>

  <body>
    <h1>Phonebook (Single Page App)</h1>

    <p>
      This is a server side rendered template.
    </p>

    <p>Play with the reloaded workflow feature a little bit and change the  following text: {{ custom-text }}</p>

    <script src="http://localhost:9500/cljs-out/dev-main.js"></script>
  </body>
</html>
